#new-account {
  display: none;
}

#reserve {
  display: none;
}

#re-table ul li {
  width: 12.5%;
  height: 36px;
  line-height: 36px;
  list-style-type:none;
  display:block;
  box-sizing:border-box;
  float:left;
  text-align:center;
}

#re-table .li-half {
  width: 6.25%;
}