* {
  font-family: 'Noto Sans TC', sans-serif;
  outline: none;
}

body {
  margin: 0;
  background-color: #eee;
  height: 100vh;
  min-height: 100vh;
}

.headtitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  float: center;
  background-color: #034;
  padding: 15px
}

#user {
  display: none;
  font-size: 18px;
  line-height: 18px;
  height: 30px;
  width: 128px;
  position: absolute;
  margin-top: 30px;
  right: 0;
}

#time {
  font-size: 18px;
  position: absolute;

  right: 0;
}

#login-new-account {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  height: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 400px;
}

#login,
#new-account {
  position: absolute;
  margin: 0 auto;
  padding: 16px;
  width: 360px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 16px;
}

#login-new-account label {
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  text-align: right;
  width: 100px;
}

#login-new-account .message {
  color: #f20;
  display: inline-block;
  font-size: 12px;
  height: 20px;
  margin-left: 100px;
  text-align: left;
  width: 220px;
}

.ln-button-container {
  display: inline-block;
  margin-left: 100px;
  width: 220px;
}

#login-new-account input {
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 16px;
  height: 26px;
  padding: 4px 6px;
  width: 220px;
}

#login-new-account input::-webkit-input-placeholder {
  color: #bbb;
}
#login-new-account input::-moz-placeholder {
  color: #bbb;
}
#login-new-account input:-ms-input-placeholder {
  color: #bbb;
}
#login-new-account input:-moz-placeholder {
  color: #bbb;
}

#login-new-account button {
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
  background: -moz-linear-gradient(top, #eee, #bbb);
  background: linear-gradient(to bottom, #eee, #bbb);
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #111;
  float: left;
  font-size: 14px;
  margin-right: 4px;
  padding: 4px 16px;
  text-align: center;
  text-shadow: #666 1px 1px 1px;
}

#login-new-account button:hover,
#login-new-account button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: -moz-linear-gradient(top, #fff, #ccc);
  background: linear-gradient(to bottom, #fff, #ccc);
  border: 1px solid #ccc;
}

#login-new-account button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#bbb));
  background: -moz-linear-gradient(top, #999, #bbb);
  background: linear-gradient(to bottom, #999, #bbb);
}

#new-account {
  left: 400px;
}

#reserve {
  margin-top: 72px;
  display: none;
}

#re-table {
  border-collapse: collapse;
  position: absolute;
  margin: 0 5% 36px 5%;
  top: 0;
  width: 90%;
}

#re-table th {
  box-sizing: border-box;
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#re-table tr {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

.re-room {
  border-radius: 8px;
  border: 2px solid #aaa;
  font-size: 24px;
  line-height: 24px;
  padding: 4px 6px;
  width: 200px;
}

.re-room:disabled {
  background-color: #ff7;
  border: 2px solid #333;
  color: #555;
}

.re-room:hover:enabled {
  border: 2px solid #ff0;
}

.re-room:active:enabled {
  background-color: #ccc;
  border: 2px solid #ff0;
}

.re-dark th {
  background-color: #999;
  border: 1px solid #aaa;
}

.re-light th {
  background-color: #ccc;
  border: 1px solid #aaa;
}

.re-th:hover {
  border: 2px outset #aaa;
}

.re-th:active {
  border: 2px inset #aaa;
}
